ASP.NET/Homework9/Homework9/Web References/NRVVref/NRVVService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.radford.edu/NRVV" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.radford.edu/NRVV" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">provides New River Valley Vault information to any platform</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.radford.edu/NRVV">
      <s:element name="getMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getMemberResult" type="tns:Member" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Member">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="USATFnum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CellPhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HomePhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProofOfIns" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BalanceDue" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="MomFirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MomLastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MomCellPhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DadFirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DadLastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DadCellPhone" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DOB" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ConstructorMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RevNum" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="getTrans">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTransResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTransResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="saveMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MemberToSave" type="tns:Member" />
            <s:element minOccurs="0" maxOccurs="1" name="strToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="saveMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="saveMemberResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMembersList">
        <s:complexType />
      </s:element>
      <s:element name="getMembersListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getMembersListResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStatesList">
        <s:complexType />
      </s:element>
      <s:element name="getStatesListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getStatesListResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="logInResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logOut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logOutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="logOutResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="changePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pw" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="changePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="changePasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Member" nillable="true" type="tns:Member" />
      <s:element name="DataTable" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getMemberSoapIn">
    <wsdl:part name="parameters" element="tns:getMember" />
  </wsdl:message>
  <wsdl:message name="getMemberSoapOut">
    <wsdl:part name="parameters" element="tns:getMemberResponse" />
  </wsdl:message>
  <wsdl:message name="getTransSoapIn">
    <wsdl:part name="parameters" element="tns:getTrans" />
  </wsdl:message>
  <wsdl:message name="getTransSoapOut">
    <wsdl:part name="parameters" element="tns:getTransResponse" />
  </wsdl:message>
  <wsdl:message name="saveMemberSoapIn">
    <wsdl:part name="parameters" element="tns:saveMember" />
  </wsdl:message>
  <wsdl:message name="saveMemberSoapOut">
    <wsdl:part name="parameters" element="tns:saveMemberResponse" />
  </wsdl:message>
  <wsdl:message name="getMembersListSoapIn">
    <wsdl:part name="parameters" element="tns:getMembersList" />
  </wsdl:message>
  <wsdl:message name="getMembersListSoapOut">
    <wsdl:part name="parameters" element="tns:getMembersListResponse" />
  </wsdl:message>
  <wsdl:message name="getStatesListSoapIn">
    <wsdl:part name="parameters" element="tns:getStatesList" />
  </wsdl:message>
  <wsdl:message name="getStatesListSoapOut">
    <wsdl:part name="parameters" element="tns:getStatesListResponse" />
  </wsdl:message>
  <wsdl:message name="logInSoapIn">
    <wsdl:part name="parameters" element="tns:logIn" />
  </wsdl:message>
  <wsdl:message name="logInSoapOut">
    <wsdl:part name="parameters" element="tns:logInResponse" />
  </wsdl:message>
  <wsdl:message name="logOutSoapIn">
    <wsdl:part name="parameters" element="tns:logOut" />
  </wsdl:message>
  <wsdl:message name="logOutSoapOut">
    <wsdl:part name="parameters" element="tns:logOutResponse" />
  </wsdl:message>
  <wsdl:message name="changePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:changePassword" />
  </wsdl:message>
  <wsdl:message name="changePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:changePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="getMemberHttpGetIn">
    <wsdl:part name="Username" type="s:string" />
    <wsdl:part name="Token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getMemberHttpGetOut">
    <wsdl:part name="Body" element="tns:Member" />
  </wsdl:message>
  <wsdl:message name="getTransHttpGetIn">
    <wsdl:part name="Username" type="s:string" />
    <wsdl:part name="Token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getTransHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="getMembersListHttpGetIn" />
  <wsdl:message name="getMembersListHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="getStatesListHttpGetIn" />
  <wsdl:message name="getStatesListHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="logInHttpGetIn">
    <wsdl:part name="strUsername" type="s:string" />
    <wsdl:part name="strPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="logInHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="logOutHttpGetIn">
    <wsdl:part name="strToken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="logOutHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="changePasswordHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="pw" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="changePasswordHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getMemberHttpPostIn">
    <wsdl:part name="Username" type="s:string" />
    <wsdl:part name="Token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getMemberHttpPostOut">
    <wsdl:part name="Body" element="tns:Member" />
  </wsdl:message>
  <wsdl:message name="getTransHttpPostIn">
    <wsdl:part name="Username" type="s:string" />
    <wsdl:part name="Token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getTransHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="getMembersListHttpPostIn" />
  <wsdl:message name="getMembersListHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="getStatesListHttpPostIn" />
  <wsdl:message name="getStatesListHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="logInHttpPostIn">
    <wsdl:part name="strUsername" type="s:string" />
    <wsdl:part name="strPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="logInHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="logOutHttpPostIn">
    <wsdl:part name="strToken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="logOutHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="changePasswordHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="pw" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="changePasswordHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="NRVVserviceSoap">
    <wsdl:operation name="getMember">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">get a club member object</wsdl:documentation>
      <wsdl:input message="tns:getMemberSoapIn" />
      <wsdl:output message="tns:getMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTrans">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">get trans for a club member</wsdl:documentation>
      <wsdl:input message="tns:getTransSoapIn" />
      <wsdl:output message="tns:getTransSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="saveMember">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">save a club member object</wsdl:documentation>
      <wsdl:input message="tns:saveMemberSoapIn" />
      <wsdl:output message="tns:saveMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getMembersList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return list of Members to use in dropdown list, etc. </wsdl:documentation>
      <wsdl:input message="tns:getMembersListSoapIn" />
      <wsdl:output message="tns:getMembersListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getStatesList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return list of U.S. States </wsdl:documentation>
      <wsdl:input message="tns:getStatesListSoapIn" />
      <wsdl:output message="tns:getStatesListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="logIn">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">authenticate user and return token</wsdl:documentation>
      <wsdl:input message="tns:logInSoapIn" />
      <wsdl:output message="tns:logInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="logOut">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">end session</wsdl:documentation>
      <wsdl:input message="tns:logOutSoapIn" />
      <wsdl:output message="tns:logOutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">change a users password</wsdl:documentation>
      <wsdl:input message="tns:changePasswordSoapIn" />
      <wsdl:output message="tns:changePasswordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="NRVVserviceHttpGet">
    <wsdl:operation name="getMember">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">get a club member object</wsdl:documentation>
      <wsdl:input message="tns:getMemberHttpGetIn" />
      <wsdl:output message="tns:getMemberHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getTrans">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">get trans for a club member</wsdl:documentation>
      <wsdl:input message="tns:getTransHttpGetIn" />
      <wsdl:output message="tns:getTransHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getMembersList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return list of Members to use in dropdown list, etc. </wsdl:documentation>
      <wsdl:input message="tns:getMembersListHttpGetIn" />
      <wsdl:output message="tns:getMembersListHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getStatesList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return list of U.S. States </wsdl:documentation>
      <wsdl:input message="tns:getStatesListHttpGetIn" />
      <wsdl:output message="tns:getStatesListHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="logIn">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">authenticate user and return token</wsdl:documentation>
      <wsdl:input message="tns:logInHttpGetIn" />
      <wsdl:output message="tns:logInHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="logOut">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">end session</wsdl:documentation>
      <wsdl:input message="tns:logOutHttpGetIn" />
      <wsdl:output message="tns:logOutHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">change a users password</wsdl:documentation>
      <wsdl:input message="tns:changePasswordHttpGetIn" />
      <wsdl:output message="tns:changePasswordHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="NRVVserviceHttpPost">
    <wsdl:operation name="getMember">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">get a club member object</wsdl:documentation>
      <wsdl:input message="tns:getMemberHttpPostIn" />
      <wsdl:output message="tns:getMemberHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getTrans">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">get trans for a club member</wsdl:documentation>
      <wsdl:input message="tns:getTransHttpPostIn" />
      <wsdl:output message="tns:getTransHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getMembersList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return list of Members to use in dropdown list, etc. </wsdl:documentation>
      <wsdl:input message="tns:getMembersListHttpPostIn" />
      <wsdl:output message="tns:getMembersListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getStatesList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return list of U.S. States </wsdl:documentation>
      <wsdl:input message="tns:getStatesListHttpPostIn" />
      <wsdl:output message="tns:getStatesListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="logIn">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">authenticate user and return token</wsdl:documentation>
      <wsdl:input message="tns:logInHttpPostIn" />
      <wsdl:output message="tns:logInHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="logOut">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">end session</wsdl:documentation>
      <wsdl:input message="tns:logOutHttpPostIn" />
      <wsdl:output message="tns:logOutHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">change a users password</wsdl:documentation>
      <wsdl:input message="tns:changePasswordHttpPostIn" />
      <wsdl:output message="tns:changePasswordHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NRVVserviceSoap" type="tns:NRVVserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getMember">
      <soap:operation soapAction="http://www.radford.edu/NRVV/getMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTrans">
      <soap:operation soapAction="http://www.radford.edu/NRVV/getTrans" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveMember">
      <soap:operation soapAction="http://www.radford.edu/NRVV/saveMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMembersList">
      <soap:operation soapAction="http://www.radford.edu/NRVV/getMembersList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStatesList">
      <soap:operation soapAction="http://www.radford.edu/NRVV/getStatesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logIn">
      <soap:operation soapAction="http://www.radford.edu/NRVV/logIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logOut">
      <soap:operation soapAction="http://www.radford.edu/NRVV/logOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <soap:operation soapAction="http://www.radford.edu/NRVV/changePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NRVVserviceSoap12" type="tns:NRVVserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getMember">
      <soap12:operation soapAction="http://www.radford.edu/NRVV/getMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTrans">
      <soap12:operation soapAction="http://www.radford.edu/NRVV/getTrans" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveMember">
      <soap12:operation soapAction="http://www.radford.edu/NRVV/saveMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMembersList">
      <soap12:operation soapAction="http://www.radford.edu/NRVV/getMembersList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStatesList">
      <soap12:operation soapAction="http://www.radford.edu/NRVV/getStatesList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logIn">
      <soap12:operation soapAction="http://www.radford.edu/NRVV/logIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logOut">
      <soap12:operation soapAction="http://www.radford.edu/NRVV/logOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <soap12:operation soapAction="http://www.radford.edu/NRVV/changePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NRVVserviceHttpGet" type="tns:NRVVserviceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="getMember">
      <http:operation location="/getMember" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTrans">
      <http:operation location="/getTrans" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMembersList">
      <http:operation location="/getMembersList" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStatesList">
      <http:operation location="/getStatesList" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logIn">
      <http:operation location="/logIn" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logOut">
      <http:operation location="/logOut" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <http:operation location="/changePassword" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NRVVserviceHttpPost" type="tns:NRVVserviceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="getMember">
      <http:operation location="/getMember" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTrans">
      <http:operation location="/getTrans" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMembersList">
      <http:operation location="/getMembersList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStatesList">
      <http:operation location="/getStatesList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logIn">
      <http:operation location="/logIn" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logOut">
      <http:operation location="/logOut" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <http:operation location="/changePassword" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NRVVservice">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">provides New River Valley Vault information to any platform</wsdl:documentation>
    <wsdl:port name="NRVVserviceSoap" binding="tns:NRVVserviceSoap">
      <soap:address location="http://itec-web-dev02.radford.edu/fds/NRVVService.asmx" />
    </wsdl:port>
    <wsdl:port name="NRVVserviceSoap12" binding="tns:NRVVserviceSoap12">
      <soap12:address location="http://itec-web-dev02.radford.edu/fds/NRVVService.asmx" />
    </wsdl:port>
    <wsdl:port name="NRVVserviceHttpGet" binding="tns:NRVVserviceHttpGet">
      <http:address location="http://itec-web-dev02.radford.edu/fds/NRVVService.asmx" />
    </wsdl:port>
    <wsdl:port name="NRVVserviceHttpPost" binding="tns:NRVVserviceHttpPost">
      <http:address location="http://itec-web-dev02.radford.edu/fds/NRVVService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>